<div id="contentHeader">
  <h1>Edit Ad Unit</h1>
</div>

<div class="container">
  <div class="grid-24">
    <p>
      Editing <%= @ad_unit.name %> ad unit for <strong><%= @ad_unit.site.host %></strong>
    </p>
    <%= render 'form' %>
  </div>
</div>