<p>This tool will convert your DFP Dart tags into usable Clickr tags. Follow the instructions below to locate the correct <br>DART tag</p>
<ul>
    <li>Log into your DFP account</li>
    <li>Click on the Inventory link in the navigation</li>
    <li>Select the AdUnit that you want to convert</li>
    <li>Click on the "Generate Tags" button</li>
    <li>For the Tag Type, select the "JavaScript DART Tag" option</li>
    <li>Uncheck the 'Cachebuster' option</li>
    <li>Select the Ad Unit's size</li>
    <li>Copy &amp; paste the generated code in the DART box this window</li>
</ul>
