<div id="contentHeader">
  <h1>Create Ad Unit</h1>
</div>

<div class="container">
  <div class="grid-24">
    <p>
      Creating ad unit for <strong><%= @site.host %></strong>
    </p>
    <%= render 'form' %>
  </div>
</div>