<div class="widget widget-table">
  <div class="widget-header">
    <span class="icon-list"></span>
    <h3 class="icon chart">Logo Units for <%= @site.host %></h3>
  </div>

  <div class="widget-content">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Womensforum.com + Glam Logo</td>
        <td>
          <input type="text" value='<div clickr-logo="glam" /></div>' size="35" class="ad_unit_tag" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
